.container {
  position: relative;
  width: 40%;
  padding: 20px;
  margin-top: 30px;
  border: 2px solid var(--main);
  border-radius: 10px;
  background-color: #fff;
}

.character__container {
  margin: 30px;
}

.container__label {
  position: absolute;
  top: -23px;
  left: 0;
  font-weight: bold;
}
