.card {
  position: relative;
  display: inline-block;
  width: 300px;
  padding: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  border: 2px solid var(--main);
  border-radius: 10px;
  color: black;
  background-color: var(--background);
  transition: background-color 0.2s linear;
}

.card::after {
  position: absolute;
  bottom: 8px;
  right: 8px;
  content: 'Подробнее';
  font-size: 9px;
}

.card:hover {
  color: var(--main);
  background-color: white;
}

.card:hover::after {
  color: var(--main);
}

.card dl {
  margin: 0;
}

.card__list {
  display: flex;
  align-items: center;
  height: 25px;
}

.card__dl {
  display: inline-block;
  font-weight: 700;
}

.card__dd {
  margin-left: 10px;
}