.card {
  position: relative;
  display: inline-block;
  width: 300px;
  padding: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  border: 2px solid var(--main);
  border-radius: 10px;
  background-color: white;
  color: black;
  transition: box-shadow 0.2s linear;
}

.card::after {
  position: absolute;
  bottom: 8px;
  right: 8px;
  content: 'Подробнее';
  font-size: 9px;
}

.card:hover {
  color: var(--main);
  box-shadow: inset 0 0 6px 6px lightgray;
}

.card:hover::after {
  color: var(--main);
}
