.app {
  min-height: 100vh;
  height: 100%;
  background-color: rgb(239, 239, 249);
  overflow-x: hidden;
}

.app__container {
  width: 85%;
  padding-bottom: 30px;
  padding: 40px 0;
  margin-left: auto;
  margin-right: auto;
}

.app__header {
  width: 100vw;
  padding-left: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid var(--main);
  background-color: var(--main);
  box-shadow: 0 0 6px 4px gray;
}

.app__cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 78%;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
}
